html, body {
  background-color: rgb(1, 1, 101);
}

.pageTitle {
	padding-top: 10%;
	padding-bottom: 5%;
	color: #ffffff;
	text-align: center;
	font-size: 75px;
}

.label {
	color: #ffffff;
	font-size: 40px;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.container {
	width: 100%;
	height: 60%;
	display: flex;
    align-items: center;
    /*justify-content: center;*/
	flex-direction: column;
}

.loginContainer {
	width: 100%;
	height: 130px;
	display: flex;
    align-items: center;
    /*justify-content: center;*/
	/*background-color: red;*/
	flex-direction: column;
}

.buttonContainer {
	padding-bottom: 20%;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	/*background-color: yellow;*/
	height: 7%;
}

.input {
	width: 70%;
	height: 60%;
	margin: 0 auto;
}

.firstButton {
	background-color: #ffffff;
	border-style: bold;
	border-width: 2px;
	border-color: #ffffff;
	width: 220px;
	height: 140px;
	margin-right: 20%;
	font-size: 30px;
}

.secondButton {
	background-color: #1144ee;
	border-style: bold;
	border-width: 2px;
	border-color: #ffffff;
	width: 220px;
	height: 140px;
	color: #ffffff;
	font-size: 30px;
}

.mainContainer {
	padding-top: 5%;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

.mainPanel {
	background-color: rgb(1,1,155);
	width: 90%;
	height: 600px;
	display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
	flex-direction: column;
}

.tabBar {
	border-bottom: 2px solid #aaaaaa;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.panelElement {
	/*border: 2px solid #aaaaaa;*/
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.icon {
	background-image: url('../img/temp.png');
    background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	margin-left: 100px;
	height: 80px;
	width: 110px;
}

.lightIcon {
	background-image: url('../img/bulbOff.png');
    background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	margin-left: 320px;
	/*float: right;*/
	height: 80px;
	width: 110px;
}

.panelLabel {
	color: #ffffff;
	font-size: 40px;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 30px;
	padding-left: 20px
}

.iconLabel {
	color: #ffffff;
	font-size: 40px;
	text-align: left;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 0;
}

.panelIconLabel {
	color: #ffffff;
	font-size: 40px;
	text-align: left;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 0;
}

.panelIcon {
	background-image: url('../img/bulbOff.png');
    background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	/*margin-left: 100px;*/
	height: 80px;
	width: 110px;
}

.slide {
	padding-top: 30px;
	margin-left: 520px;
	height: 80px;
	width: 110px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}